[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pillow = "*"
opencv-python = "*"
matplotlib = "*"
boto3 = "*"
temp = "*"
requests = "*"

[requires]
python_version = "3.7"
